.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.custom-thead {
    background-color: #f2f2f2;
}

.custom-th,
.custom-td {
    padding: 8px;
    border: 1px solid #ddd;
}

.custom-tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
