@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@300..900&display=swap');

.container_enlace{
    margin: 0;
    padding: 0;
}

.title {
    font-size: 24px;
    margin-bottom: 40px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.separacion{
    margin-bottom: 20px;
}

.tabla_enlace_titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabla_titulo{
    margin-left: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;

}

.table-container {
    margin: 0 ;
    position: relative;

}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Aplica el efecto hover solo a la tabla principal */
.table-container .table tbody tr:hover {
    background-color: #f1f1f1;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 20px;
}


.search-input {
    margin-right: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

.search-button {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.detalle-container {
    margin-top: 10px;
}

.detalle-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.detalle-table th,
.detalle-table td {
    padding: 5px; /* Reducir el padding */
    text-align: left; /* Alinear el texto a la izquierda */
    border: none; /* Eliminar los bordes */
}

.detalle-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
}
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.pagination button {
    margin: 0 5px;
}