.title {
    font-size: 24px;
    margin-bottom: 40px;
}

.separacion{
    margin-bottom: 50px;
}

.table-container {
    margin: 0 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Aplica el efecto hover solo a la tabla principal */
.table-container .table tbody tr:hover {
    background-color: #f1f1f1;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}


.search-input {
    margin-right: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
}

.search-button {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.detalle-container {
    margin-top: 10px;
}

.detalle-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.detalle-table th,
.detalle-table td {
    padding: 5px; /* Reducir el padding */
    text-align: left; /* Alinear el texto a la izquierda */
    border: none; /* Eliminar los bordes */
}

.detalle-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* Ajusta el tamaño según sea necesario */
    height: 24px; /* Ajusta el tamaño según sea necesario */
}
