@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.contain_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 12vw; /* Ancho deseado para el Nav */
    background-color: #333;
    color: white;
    padding: 10px;
}

.main_options {
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    width: 11vw;
}

.option {
    cursor: pointer;
    padding: 10px;
}

.sub_options {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sub_option {
    cursor: pointer;
    padding: 12px;
    background-color: #444;
    color: white;

}

.contain_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.menu_title {
    margin: 0;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.separator {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}
